<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process File</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            text-align: center;
        }
    </style>
    <script>
        function toggleAll(checked) {
            var checkboxes = document.getElementsByName('exporters');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = checked;
            }
        }
    </script>
</head>
<body>
    <form action="" method="post">
        <h1>Select Exporters</h1>
        <label for="exporter_all">All</label>
        <input type="checkbox" id="exporter_all" name="exporters" value="all" onclick="toggleAll(this.checked)"><br>
        <!-- Add individual checkboxes for exporters -->
        <label for="exporter_blackbox">Exporter Blackbox</label>
        <input type="checkbox" id="exporter_blackbox" name="exporters" value="exporter_blackbox"><br>
        <label for="exporter_linux">Exporter Linux</label>
        <input type="checkbox" id="exporter_linux" name="exporters" value="exporter_linux"><br>
        <label for="exporter_ssl">Exporter SSL</label>
        <input type="checkbox" id="exporter_ssl" name="exporters" value="exporter_ssl"><br>
        <label for="exporter_cms">Exporter CMS</label>
        <input type="checkbox" id="exporter_cms" name="exporters" value="exporter_cms"><br>
        <label for="exporter_windows">Exporter Windows</label>
        <input type="checkbox" id="exporter_windows" name="exporters" value="exporter_windows"><br>
        <label for="exporter_avayasbc">Exporter Avaya SBC</label>
        <input type="checkbox" id="exporter_avayasbc" name="exporters" value="exporter_avayasbc"><br>
        <label for="exporter_verint">Exporter Verint</label>
        <input type="checkbox" id="exporter_verint" name="exporters" value="exporter_verint"><br>
        <label for="exporter_gateway">Exporter Gateway</label>
        <input type="checkbox" id="exporter_gateway" name="exporters" value="exporter_gateway"><br>
        <label for="exporter_breeze">Exporter Breeze</label>
        <input type="checkbox" id="exporter_breeze" name="exporters" value="exporter_breeze"><br>
        <label for="exporter_sm">Exporter Session Manager</label>
        <input type="checkbox" id="exporter_sm" name="exporters" value="exporter_sm"><br>
        <label for="exporter_acm">Exporter ACM</label>
        <input type="checkbox" id="exporter_acm" name="exporters" value="exporter_acm"><br>
        <label for="exporter_jmx">Exporter JMX</label>
        <input type="checkbox" id="exporter_jmx" name="exporters" value="exporter_jmx"><br>
        <label for="exporter_weblm">Exporter WebLM</label>
        <input type="checkbox" id="exporter_weblm" name="exporters" value="exporter_weblm"><br>
        <label for="exporter_vmware">Exporter VMWare</label>
        <input type="checkbox" id="exporter_wmware" name="exporters" value="exporter_wmware"><br>
        <label for="exporter_kafka">Exporter KAFKA</label>
        <input type="checkbox" id="exporter_kafka" name="exporters" value="exporter_kafka"><br>
        <label for="exporter_callback">Exporter CallBack</label>
        <input type="checkbox" id="exporter_callback" name="exporters" value="exporter_callback"><br>
        <label for="exporter_drac">Exporter DRAC</label>
        <input type="checkbox" id="exporter_drac" name="exporters" value="exporter_drac"><br>
        <label for="exporter_genesyscloud">Exporter Genesys Cloud</label>
        <input type="checkbox" id="exporter_genesyscloud" name="exporters" value="exporter_genesyscloud"><br>
        <label for="exporter_tcti">Exporter TCTI Softphone</label>
        <input type="checkbox" id="exporter_tcti" name="exporters" value="exporter_tcti"><br>
        <br><br>
        <input type="submit" value="Process">
    </form>
    <form action="/finish_and_clean" method="post" style="text-align: center; margin-top: 20px;">
        <input type="submit" value="Finish and Clean">
    </form>
</body>
</html>